<div class="container mt-3">
<h1>Restaurants</h1>
<ul>

<% @restaurants.each do |restaurant| %>
 <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
<% end %>
<p><%= link_to 'Add Restaurant', new_restaurant_path %></p>

</ul>

</div>
